
nav {
  position: fixed;
  top: 0;
  left:0;
  background:  #2e7f50;
  width: 100%;
  font-size: 12px;
  height: 50px;
  display: flex;
}

  nav #menu {
     list-style-type:none;
     display: flex;
     align-items: center;
     justify-content: space-between;
  }

  nav #menu .menu-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-around;
    width:150px;
  }

  nav #menu .menu-item .sous-menu li a {
    text-decoration: none;
    color:white;
  }

  .menu-item:hover {
    background: black;
    width: 100%;
    height: 50px;
  }

  .menu-item:hover .sous-menu {
    display: block;
    position: absolute;
    top: 50px;
    left:0;
    width:150px;
  }

  .sous-menu li:hover {
    background: tomato;
  }

.menu-item .sous-menu {
   position: absolute;
    visibility: visible;
    background: black;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    list-style-type: none;
    color: white;
    display: none;
  }

  .sous-menu li {
     padding: 10px;
    }

  nav a {
    text-decoration: none;
    color: white;
  }
